.__round-container {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: solid red 4px;
  display: flex;
  position: fixed;
  top: 90%;
  left: 5px;
  overflow: hidden;
  justify-content: center;
  .__left-half {
    display: flex;
    flex-direction: column;
    
    div:nth-child(1) {
      width: 38px;
      height: 80px;
      border: 0;
      margin: 0px 1px 1px 0px;
      background-color: hsl(0, 0, 56);
    }
    div:nth-child(2) {
      width: 38px;
      height: 80px;
      border: 0;
      margin: 1px 1px 0px 0px;
      background-color: hsl(0, 0, 56);
    }
   
  }
  .__loading-blinker {
    background-color: red;
    width: 200px;
    height: 200px;
  }
  .__add-note {
    text-align: center;
    line-height: 50px;
    width: 160px;
    border: 0;
    margin-left: 1px;
    background-color: hsl(0, 0, 56);
  }
  .__add-video-button {
    font-size: 100px;
    background-color: green;
    height: 200px;
    width: 200px;
    text-align: center;
  }
}

.__add-video-button:hover {
 cursor: pointer;
}